{% extends "base.html" %} 


{% block content %}
<div class="container">
<h1>Contact information</h1>

<div class="rte">
        <p class="p1">&nbsp;</p>
<p class="p1"><strong>Legal Name:</strong> SPYD-TECHNOLOGY</p>
<p class="p1"><strong>Business Name:</strong> SPYD</p>
<p class="p1"><strong>Email: <a href="mailto:customerecare@btahealth.com"><span class="s1">contactus@aarogyanutrimix.in</span></a></strong></p>
<p class="p1"><strong>Phone:</strong> +91-9494307579</p>
<p class="p1"><strong>Address:&nbsp;</strong>2-23-475, plot no-518 hmt hills,kbhp colony kukatpally, Hyderabad, Telangana 500085&nbsp;</p>
<p class="p1">&nbsp;</p>
<p class="p1">For any inquiries, concerns, or assistance, please don't hesitate to reach out to us using the contact details provided above. Our dedicated customer support team is ready to assist you with any questions you may have related to our products, orders, or any other matter pertaining to Aarogya Nutri Mix.</p>
<p class="p1">Thank you for choosing Aarogya Nutri Mix, and we look forward to serving you!</p>
    </div>

</div>

<style>
    .container{
        padding: 10px;
        margin: 20px;
        background-color:beige;
        border-radius: 8px;
    }

</style>





    
{% endblock %}
     