<ul class="mobile-nav-list">
      <li><a href="/">Home</a></li>
      <li><a href="/">All Products</a></li>
      <li class="has-dropdown">
        <a href="#" class="dropdown-toggle">Food and Health</a>
        <ul class="dropdown">
          <li><a href="/collections/food-and-health">Milk Malts</a></li>
          <li><a href="/collections/kids-special">Healthy Snacks</a></li>
          <li><a href="/collections/food-and-health">Amla-Human Sanjeevani</a></li>
          <li><a href="/collections/kids-special">Sprouted Flours</a></li>
          <li><a href="/collections/food-and-health">Cooking Essentials</a></li>
          <li><a href="/collections/kids-special">Kaaram Podi's</a></li>
          <li><a href="/collections/food-and-health">Basic Health</a></li>
          </ul>
          <li><a href="/collections/skin-care">Kids Special</a></li>
          <li class="has-dropdown">
            <a href="#" class="dropdown-toggle">Shop by Concern</a>
            <ul class="dropdown">
              <li><a href="/collections/iron-deficiency">Iron Deficiency</a></li>
              <li><a href="/collections/b-complex-deficiency">B‑Complex Deficiency</a></li>
              <li><a href="/collections/irregular-periods">Irregular Periods</a></li>
              <li><a href="/collections/constipation">Constipation</a></li>
              <li><a href="/collections/bones-strength">Bones Strength</a></li>
              <li><a href="/collections/immunity-booster">Immunity Booster</a></li>
              <li><a href="/collections/cold-and-cough">Cold and Cough</a></li>
            </ul>
          </li>
          <li class="has-dropdown">
            <a href="#" class="dropdown-toggle">Shop by Care</a>
            <ul class="dropdown">
              <li><a href="/collections/pregnancy-care">Pregnancy Care</a></li>
              <li><a href="/collections/diabetic-care">Diabetic Care</a></li>
              <li><a href="/collections/baby-care">Baby Care</a></li>
            </ul>
          </li>
          <li><a href="/collections/skin-care">Skin Care</a></li>
          <li><a href="/collections/hair-care">Hair Care</a></li>
          <li><a href="/collections/tea-blends">Tea Blends</a></li>
          <li><a href="/collections/weight-management">Weight Management</a></li>
        
      </li>
      <li><a href="{{url_for('contact')}}">About Us</a></li>
      <li><a href="{{url_for('contact')}}">Contact Us</a></li>
      <li><a href="/pages/blog">Blog</a></li>
    </ul>