{% extends "base.html" %}

{% block content %}
<div class="container">

<h1>Privacy policy</h1>

<div class="rte">
        <p class="p1">At <strong>SPYD</strong>, we are committed to protecting your privacy and ensuring the security of your personal information. This Privacy Policy outlines how we collect, use, disclose, and protect the information you provide to us when using our website. By accessing or using Aarogya Nutri Mix you agree to the terms and practices described in this Privacy Policy.</p>
<p class="p2"><b>Information We Collect</b>: We may collect personal information from you when you visit our website, register an account, place an order, subscribe to our newsletter, participate in surveys or contests, or interact with our website's features and services. The information we may collect includes but is not limited to:</p>
<ul class="ul1">
<li class="li2">
<span class="s1"></span>Name</li>
<li class="li2">
<span class="s1"></span>Contact information (email address, phone number, shipping address, etc.)</li>
<li class="li2">
<span class="s1"></span>Billing information (credit/debit card details, billing address, etc.)</li>
<li class="li2">
<span class="s1"></span>Demographic information</li>
<li class="li2">
<span class="s1"></span>Purchase history</li>
<li class="li2">
<span class="s1"></span>Preferences and interests</li>
</ul>
<p class="p3"><br></p>
<p class="p2"><b>How We Use Your Information</b>: We use the collected information for the following purposes:</p>
<ul class="ul1">
<li class="li2">
<span class="s1"></span>To process and fulfil your orders</li>
<li class="li2">
<span class="s1"></span>To communicate with you regarding your orders, products, promotions, and updates</li>
<li class="li2">
<span class="s1"></span>To personalize your shopping experience and tailor our content and offerings to your interests</li>
<li class="li2">
<span class="s1"></span>To improve our website, products, and services based on your feedback and preferences</li>
<li class="li2">
<span class="s1"></span>To administer surveys, contests, and other promotional activities</li>
<li class="li2">
<span class="s1"></span>To prevent fraudulent activities and enhance the security of our website</li>
<li class="li2">
<span class="s1"></span>To comply with legal obligations and protect our rights and interests</li>
</ul>
<p class="p3"><br></p>
<ol class="ol1">
<li class="li2">
<b>Third-Party Service Providers:</b>&nbsp;We may engage third-party service providers to assist us in various aspects of our operations, such as payment processing, shipping, customer support, and marketing. These service providers may have access to your personal information but are obligated to use it only for the purposes specified by us and in compliance with this Privacy Policy.</li>
<li class="li2">
<b>Marketing Communication:</b>&nbsp;If you choose to subscribe to our newsletter or marketing communications, we may use your contact information to send you promotional offers, updates, and information about our products and services. You can opt-out of these communications at any time by using the "unsubscribe" link provided in the emails or by contacting our customer support team.</li>
<li class="li2">
<b>Cookies and Similar Technologies:</b>&nbsp;Our website may use cookies and similar technologies to enhance your browsing experience and collect certain information automatically. Cookies are small data files stored on your device that help us recognize you and remember your preferences. You can manage your cookie preferences through your browser settings.</li>
<li class="li2">
<b>Data Security:</b>&nbsp;We implement reasonable security measures to protect your personal information from unauthorised access, disclosure, alteration, or destruction. However, no data transmission over the internet or electronic storage method is completely secure, and we cannot guarantee the absolute security of your information.</li>
<li class="li2">
<b>Data Retention:</b>&nbsp;We will retain your personal information for as long as necessary to fulfil the purposes outlined in this Privacy Policy unless a longer retention period is required or permitted by law.</li>
<li class="li2">
<b>Children's Privacy:</b> SPYD is not intended for children under the age of 13. We do not knowingly collect personal information from children under 13 years of age. If you are a parent or guardian and believe that your child has provided us with their personal information, please contact us immediately, and we will take appropriate steps to remove such information from our records.</li>
<li class="li2">
<b>International Users:</b> If you are accessing Spyd from outside India, please be aware that your information may be transferred to, stored, and processed in India, where our servers and central database are located. By using our website, you consent to this transfer, storage, and processing of your information in India.</li>
<li class="li2">
<b>Changes to the Privacy Policy:</b>&nbsp;We may update this Privacy Policy from time to time to reflect changes in our practices or for other operational, legal, or regulatory reasons. We will notify you of any material changes to this Privacy Policy by posting the updated version on our website or sending a direct notification.</li>
<li class="li2">
<b>Contact Us:</b>&nbsp;If you have any questions, concerns, or requests related to this Privacy Policy or your personal information, please contact our customer support at<span>&nbsp;</span><a href="mailto:contactus@aarogyanutrimix.in" target="_blank" rel="noopener"><span class="s2">contactus@aarogyanutrimix.in</span></a>
</li>
</ol>
<p class="p4"><br></p>
<p class="p2">By using our website, you signify your acceptance of this Privacy Policy. Please read this policy carefully and check back regularly for updates. Thank you for entrusting Aarogya Nutri Mix with your personal information, and we assure you of our commitment to safeguarding your privacy.</p>
    </div>
</div>

     <style>
    .container{
        padding: 10px;
        margin: 20px;
        background-color:beige;
        border-radius: 8px;
    }

</style>

{% endblock %}