{% extends "base.html" %}

{% block content %}
<div class="container">
<h1>Refund Policy</h1>

<div class="rte">
        <p class="p1">Thank you for shopping with Aarogya Nutri Mix!</p>
<p class="p1">We want you to be completely satisfied with your purchase, and we understand that sometimes returns may be necessary. Please read our return policy carefully to ensure a smooth and hassle-free process:</p>
<ol class="ol1"></ol>
<ol class="ol1">
<li class="li1"><b>We do not accept cancellation of the confirmed orders</b></li>
<li class="li1"><b>We do not accept any returns on the products delivered</b></li>
<li class="li1"><b>Please record and send video of package opening in case of damages we will review and take necessary actions</b></li>
<li class="li1"><b>If shipment is returned to us for any reason, we will refund only the product(s) price deducting the shipping charges</b></li>
<li class="li1"><b>In case of refund for damaged products it will take 5-7 days for refund to get credited to respective bank account</b></li>
<li class="li1"><b>If you have any specific queries please reach out us on contactus@aarogyanutrimix.in</b></li>
</ol>
<p class="p1"><i>Please note that any returned item that does not meet the eligibility criteria stated in this return policy may be rejected and sent back to the customer at their expense.</i></p>
<p class="p1">For any further inquiries or assistance regarding returns, feel free to contact our customer support team. We value your satisfaction and are here to ensure your shopping experience with Aarogya Nutri Mix is enjoyable and rewarding</p>
    </div>



</div>

    <style>
    .container{
        padding: 10px;
        margin: 20px;
        background-color:beige;
        border-radius: 8px;
    }

</style>

{% endblock %}