{% extends "base.html" %}

{% block content %}
<div class="container">

<h1>Shipping policy</h1>

<div class="rte">
        <ol class="ol1">
<li class="li1">
<strong>Shipping Zones</strong>: Aarogya Nutri Mix offers shipping within India and international for selected countries. However, we may expand our shipping services to additional regions in the future. Please connect with us on international shipping related queries.</li>
<li class="li1">
<strong>Shipping Methods</strong>: We offer standard shipping for all orders. The estimated delivery time for standard shipping is 2 - 7 days from the date of order processing. Please note that the delivery time may vary depending on the shipping destination and other factors beyond our control. For customers ordering from our international collections, delivery time varies between 15 - 30 days.&nbsp;</li>
<li class="li1">
<strong>Order Processing Time</strong>: We strive to process and ship all orders promptly. Order processing typically takes 1 - 3 business days, excluding weekends and public holidays. Once your order is shipped, you will receive a confirmation email with tracking details to monitor the delivery status.</li>
<li class="li1">
<strong>Shipping Fees</strong>: Shipping fees are calculated based on the shipping destination and the weight of the products in your order. The applicable shipping fee will be displayed during the checkout process. From time to time, we may offer free shipping promotions for specific order amounts or products.</li>
<li class="li1">
<strong>Delivery Attempts</strong>: Our courier partners will attempt delivery at the shipping address provided by you during the order placement. If the delivery is unsuccessful on the first attempt, the courier may make subsequent attempts or leave a notification for you to arrange a pickup or reschedule delivery. It is essential to provide accurate and complete shipping information to avoid any delivery issues.</li>
<li class="li1">
<strong>Delivery Delays</strong>: While we strive to meet our estimated delivery times, unforeseen circumstances such as weather conditions, logistics disruptions, or other events beyond our control may cause delays. In such cases, we will make every effort to keep you informed about the status of your order.</li>
<li class="li1">
<strong>Delivery Address Changes</strong>: Once an order is placed and confirmed, changes to the delivery address may not be possible. Please ensure that the shipping address provided during the order placement is accurate and complete.</li>
<li class="li1">
<strong>Tracking Your Order</strong>: You can track the status of your order using the tracking number provided in the shipping confirmation email. If you face any issues with tracking your order, please contact our customer support at <strong>contactus@aarogyanutrimix.in</strong>
</li>
<li class="li1">
<strong>Non-Delivery and Lost Packages</strong>: In the rare event of a non-delivery or lost package, please notify us within&nbsp;2 days of the expected delivery date. We will initiate an investigation with the courier and take appropriate actions to resolve the matter.</li>
<li class="li1">
<strong>Delivery to Remote Areas</strong>: Please note that delivery to certain remote or difficult-to-access areas may take longer than our standard delivery time. If you reside in such an area, our customer support team will notify you of any potential delays during order processing.</li>
<li class="li1">
<strong>Signature Confirmation</strong>: For security reasons, some orders may require a signature upon delivery. If you are unavailable to receive the package, the courier may leave a notification for you to arrange a pickup or reschedule delivery.</li>
<li class="li1">
<strong>Cash On Delivery:</strong> We are providing <strong>COD</strong> now for the order values 1499/- and below and some of the items are excluded as below.
<ol class="ol1">
<li class="li1">All Laddu's</li>
<li class="li1">Nannari Sharbath Syrup</li>
<li class="li1">Weight Gain Combo&nbsp;</li>
</ol>
</li>
<li>
<strong>Right to Serve:&nbsp;</strong>We will double confirm the <strong>COD</strong> orders by making call, if the call is not responded we reserve the right to cancel the order</li>
<li class="li1">
<strong>Contact Us</strong>: If you have any questions or concerns regarding our Shipping Policy or your order's delivery, please contact our customer support at <strong>contactus@aarogyanutrimix.in</strong>
</li>
</ol>
<p class="p1">Thank you for shopping at Aarogya Nutri Mix. We appreciate your business and hope you have a delightful shopping experience with us!</p>
    </div>



    </div>

<style>
    .container{
        padding: 10px;
        margin: 20px;
        background-color:beige;
        border-radius: 8px;
    }

</style>
{% endblock %}