<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify Registration OTP</title>
    <style>
        body { 
            display: flex;
            justify-content: center;
            align-items: center; 
            height: 100vh; 
            margin: 0; 
            font-family: Arial; 
        }
        form { 
            padding: 20px; 
            box-shadow: 0 0 10px rgba(0,0,0,0.1); 
            border-radius: 8px; }
        input, button { 
            width: 100%; 
            padding: 10px; 
            margin-bottom: 10px;
         }
    </style>
</head>
<body>
    <form method="POST">
       <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

        <h2>Verify Registration OTP</h2>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="flash-message flash-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
        <input type="text" name="otp" placeholder="Enter OTP" required>
        <button type="submit">Verify</button>
    </form>
</body>
</html>